@using MyHealth.Models

@model dynamic
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BMI History</h1>
<br />
<h2>@ViewBag.message</h2>
<table id="bmi" class="table table-bordered table-hover">
    <thead class="text-white bg-dark">
        <tr>
            <th>Date</th>
            <th>Height</th>
            <th>Weight</th>
            <th>BMI</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BmiCalculator bmi in Model.Bmi)
        {
            if (bmi.UserId.ToString().Equals(ViewBag.message.ToString()))
            {
                
            <tr class="table-light">

                <td>@bmi.Date.Date.ToShortDateString()</td>
                <td>@bmi.Height</td>
                <td>@bmi.Weight</td>
                <td>@bmi.Bmi</td>
                <td><button data-customer-id="@bmi.Id" class=" js-delete btn btn-outline-secondary">Delete </button></td>
            </tr>
                }
            }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#bmi").on("click", ".js-delete", function () {
                var button = $(this);
               if( confirm("Are you sure to delete this customer?")) {
                  //  if (result) {
                $.ajax({
                    url: "/api/bmicalculator/" + button.attr("data-customer-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                    }

                });

                    }
                });

            });


    </script>
}


